@model RoleDetails

<h1 class="mb-3">
    Rol Düzenle
    <a asp-action="RoleList" asp-controller="Admin" asp-area="Admin" class="btn btn2" style="float: right;">Roller</a>
</h1>

<hr />

<form asp-action="RoleEdit" asp-controller="Admin" asp-area="Admin" method="post">
    <input type="hidden" name="RoleId" value="@Model.Role.Id" />
    <input type="hidden" name="RoleName" value="@Model.Role.Name" />

    <h6>Ekle - @Model.Role.Name</h6>
    @foreach (var user in Model.NonMembers)
    {
        <div class="form-group form-check">
            <input type="checkbox" name="IdsToAdd" value="@user.Id" class="form-check-input" />
            <label class="form-check-label">@user.UserName</label>
        </div>
    }

    <hr />

    <h6>Sil - @Model.Role.Name</h6>
    @foreach (var user in Model.Members)
    {
        <div class="form-group form-check">
            <input type="checkbox" name="IdsToDelete" value="@user.Id" class="form-check-input" />
            <label class="form-check-label">@user.UserName</label>
        </div>
    }

    <hr />

    <button type="submit" class="btn btn-warning">Kaydet</button>
</form>